*{
    font-family: 'Nerko One', cursive;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.container{
    position:relative;
    width:100%;
    height:650px;
    background-color:cadetblue;
}

h1{
    font-size: 3rem;
    color:white;
    text-align: center;
    line-height: 100px;
}

.row_container{
    position:absolute;
    top:100px;
    left:500px;
    /* background-color: chartreuse; */   
}

.row_container2{
    display: inline-block;
    position:absolute;
    top:270px;
    left:500px;
  /*   background-color: gold; */
}

.row_container3{
    display: inline-block;
    position:absolute;
    top:440px;
    left:500px;
    /* background-color: gold; */
}
.row_container, .row_container2, .row_container3{
    margin:auto;
    width:auto;
}


.row{
    display:inline-block;
    margin:10px;
    width:auto;
}

.card{
    position:relative;
    background-image: url(./img/pattern.png);
    background-size: contain;
    display: inline-block;
    margin:10px;
    width:100px;
    height:150px;
    border-radius: 5px;
}

.text_hover{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    margin:auto;
    opacity: 0;
    font-size: 20px;
}

.img_hover{
    width:100%;
    height:100%;
    display:block;
    background-color: white;
    opacity: 0;
    border-radius: 5px;
}
.card:hover .img_hover, .card:hover .text_hover{
    opacity: 1;

}

footer{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);
}


/* text color */

.red{
    /* font-size: 15px; */
    color:red;
}

.orange{
    color:orange;
}

.purple{
    color:purple;
}

.green{
    color:green;
}

.blue{
    color:blue;
}

.pink{
    color:sandybrown;
}